@using FinancialPortal.Helpers
@model IEnumerable<FinancialPortal.Models.ApplicationUser>

@{ 
    ViewBag.Title = "Members";
    UserHelper userHelper = new UserHelper();
    //UserRolesHelper roleHelper = new UserRolesHelper(); 
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2>Members</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="card-body col-11">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-success">
                                            @Html.DisplayNameFor(model => model.FirstName)
                                        </th>
                                        <th class="text-success">
                                            @Html.DisplayNameFor(model => model.LastName)
                                        </th>
                                        <th class="text-success">
                                            @Html.DisplayNameFor(model => model.Email)
                                        </th>
                                        <th class="text-success">
                                            @Html.DisplayNameFor(model => model.UserName)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in userHelper.GetUserList().OrderBy(u => u.LastName))
                                    {
                        <tr>
                            <td class="text-light">
                                @item.FirstName
                            </td>
                            <td class="text-light">
                                @item.LastName
                            </td>
                            <td class="text-light">
                                @item.Email
                            </td>
                            <td class="text-light">
                                @item.UserName
                            </td>
                        </tr>}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
