@using FinancialPortal.ViewModels
@using FinancialPortal.Helpers
@model HomeDashboardVM
@{ ViewBag.Title = "Home";
                RoleHelper budgetHelper = new RoleHelper(); }

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Home Dashboard</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3>Recent Transactions</h3>
                    </div>
                    <div class="card-body">
                        @if (Model.RecentTransactions.Count() <= 0)
                        {
            <p class="text-center">No Recent Transactions</p> }
                        else
                        {
            <table class="table">
                <tr>
                    <th>
                        @Html.Label("Decription")
                    </th>
                    <th>
                        @Html.Label("User")
                    </th>
                    <th>
                        @Html.Label("Account")
                    </th>
                    <th>
                        @Html.Label("Transaction Type")
                    </th>
                    <th>
                        @Html.Label("Amount")
                    </th>
                </tr>

                @foreach (var item in Model.RecentTransactions)
                {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.BudgetItem.ItemName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Owner.FullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Account.AccountName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TransactionType)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Amount)
    </td>
</tr>}

            </table>}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>House Accounts <button class="btn btn-primary" data-toggle="modal" data-target="#modal-newaccount">New Account</button></h3>
            </div>
        </div>
        @if (Model.HouseAccounts.Count() >= 1)
        {
            if (Model.HouseAccounts.Count() < 5)
            {
<div class="row">
    @foreach (var account in Model.HouseAccounts)
    {

<div class="col">
    <div class="small-box bg-success">
        <div class="inner">
            <h3>@account.AccountName</h3>

            <h4>$@account.CurrentBalance</h4>
        </div>
        <div class="icon">
            <i class="fas fa-check"></i>
        </div>
        <a href="@Url.Action("Dashboard","BankAccounts", new { id = account.Id })" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>}
</div> }
                else
                {
<div class="row">
    <div class="col">
        <div class="owl-carousel">
            @foreach (var account in Model.HouseAccounts)
            {
<div class="col-lg-3 col-6">
    <div class="small-box bg-success">
        <div class="inner">
            <h3>@account.AccountName</h3>

            <h4>$@account.CurrentBalance</h4>
        </div>
        <div class="icon">
            <i class="fas fa-check"></i>
        </div>
        <a href="@Url.Action("Dashboard","BankAccounts", new { id = account.Id })" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>}
        </div>
    </div>
</div>}
            }

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h3>Budget for @Model.UserHouse.HouseholdName</h3>
                    </div>
                </div>
            </div>
        </div>


        @foreach (var budget in Model.UserHouse.Budgets)
        {
<div class="row">
    <div class="col">
        <div class="progress-group">

            <h4>@budget.BudgetName<span class="float-right"><b>$@budget.CurrentAmount</b>/$@budget.TargetAmount</span></h4>


            <div class="progress">
                <div class="progress-bar bg-primary" style="width: @budgetHelper.GetPercentPaid(budget)%;height: 20px"></div>
            </div>

        </div>
    </div>
</div>}
    </div>
</section>


<div class="modal fade" id="modal-newaccount">
    <div class="modal-dialog">
        <div class="modal-content bg-success">
            <div class="modal-header">
                <h4 class="modal-title">Create Account</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Action("_CreateAccountModal", "BankAccounts")
            </div>
            <div class="modal-footer justify-content-between">
                <a href="javascript:document.getElementById('modalAccountForm').submit()" class="btn btn-primary">Create</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<!-- /.modal -->