<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            @*<div class="col-lg-3 col-6">
                    <div class="small-box" style="background-color:cad2c5; color:white">
                        <div class="inner">

                            <h3>Admin</h3>
                            <p>The Administrator can create and edit all Projects and Tickets, as well as assign all users to Projects and Tickets</p>
                            <p>The Administrator has full access to BugZap JS software</p>

                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>*@
            <div class="col">
                <div class="small-box" style="background-color: #84a98c; color:white">
                    <div class="inner">
                        @*<h3><a href="#" data-toggle="modal" data-target="#createHouseholdModal">Create Household</a></h3>*@
                        <h3>Create Household</h3>
                        <p>Make a new Household for members to join. Once you have selected a Household name and greeting message, you will be able to start adding new members and bank accounts.</p>

                    </div>
                    <div class="icon">
                        @*<i class="ion ion-stats-bars"></i>*@
                    </div>
                    <a href="#" data-toggle="modal" data-target="#createHouseholdModal" class="small-box-footer"><i><b>Create!</b></i> <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col">
                <div class="small-box" style="background-color: #52796f; color:white">
                    <div class="inner">
                        @*<h3><a href="#" data-toggle="modal" data-target="#joinHouseholdModal">Join Household</a></h3>*@
                        <h3>Join Household</h3>
                        <p>If you have been sent a private link to join an existing Household, you will be able to enter it here.</p>
                    </div>
                    <div class="icon">
                        @*<i class="ion ion-person-add"></i>*@
                    </div>
                    <a href="#" data-toggle="modal" data-target="#joinHouseholdModal" class="small-box-footer"><b><i>Join!</i></b> <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col">
                <div class="small-box" style="background-color: #2f3e46; color:white">
                    <div class="inner">
                        @*<h3><a href="#" data-toggle="modal" data-target="#addBankAccountModal">Add Bank Account</a></h3>*@
                        <h3>Add Bank Account</h3>
                        <p>You can specify the details of a new Bank Account to add, including the starting balance, the warning balance, and the type of account.</p>

                    </div>
                    <div class="icon">
                        @*<i class="ion ion-pie-graph"></i>*@
                    </div>
                    <a href="#" data-toggle="modal" data-target="#addBankAccountModal" class="small-box-footer"><b><i>Add!</i></b> <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
        @*<div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Dashboard</h1>
                </div> /.col
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard v1</li>
                    </ol>
                </div> /.col
            </div> /.row*@
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

@using (Html.BeginForm("Create", "Households", FormMethod.Post))
{
    <div class="modal" id="createHouseholdModal">
        <div class="modal-dialog">
            <div class="modal-content backgroundCharcoal text-white">
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h2>Create Household</h2>
                    <button type="button" class="close text-black" data-dismiss="modal" aria-hidden="false">x</button>
                </div>
                <div class="modal-body displayFlex">
                    @Html.Label("Name", new { htmlAttributes = new { @class = "form-control " } })
                    @Html.Editor("HouseholdName", new { @class = "text-danger" })
                </div>
                <div class="modal-body">
                    @Html.Label("Greeting", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.Editor("Greeting", new { @class = "text-danger" })
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Create" class="btn backgroundWhite colorBlack" />
                </div>
            </div>
        </div>
    </div>
    }
<!--Create Household Ends-->
<!--Join Household Begin-->
@using (Html.BeginForm("ManualJoin", "Account", FormMethod.Post))
{
<div class="modal fade" id="joinHouseholdModal">
    <div class="modal-dialog">
        <div class="modal-content text-black">
            @Html.AntiForgeryToken()

            <div class="modal-header">
                <h2>Join Household</h2>
                <button type="button" class="close text-black" data-dismiss="modal" aria-hidden="false">x</button>
            </div>
            <div class="modal-body displayFlex">
                Invitation Code:
                @Html.TextBox("Code", null, new { @class = "form-control mt-4" })
            </div>
            <div class="modal-footer">
                <input type="submit" value="Submit" class="btn backgroundWhite colorBlack" />
            </div>
        </div>
    </div>
</div>}
<!--Join Household Ends-->
<!--Add Bank Account Begin-->

<div class="modal fade" id="addBankAccountModal">
    <div class="modal-dialog">
        <div class="modal-content backgroundCharcoal text-black" id="addBankAccountModalContentContainer">
            <div class="modal-header">
                <h2>Add Bank Account</h2>
                <button type="button" class="close text-black" data-dismiss="modal" aria-hidden="false">x</button>
            </div>
            <div class="modal-body displayFlex">
                @Html.Action("_BankAccountModal", "BankAccounts")
            </div>
            @*<div class="modal-footer">
                    <input type="submit" value="Create" class="btn backgroundGoldenRod text-white w-50" />
                </div>*@
        </div>
    </div>
</div>

<!--Add Bank Account Ends-->
<!--User Setting Begin-->
<div class="modal fade" id="userSettingsModal">
    <div class="modal-dialog">
        <div class="modal-content backgroundCharcoal">
            <div class="modal-header">
                <h2 class="text-white">User Settings</h2>
                <button type="button" class="close text-white" data-dismiss="modal" aria-hidden="false">x</button>
            </div>
            <div class="modal-body displayFlex pt-4 pb-5">
                @Html.ActionLink("Change Name", "UpdateProfile", "Manage", null, new { @class = " btn backgroundWhite colorBlack" })
                @Html.ActionLink("Change Password", "ChangePassword", "Manage", null, new { @class = " btn backgroundWhite colorBlack" })
                @*@Html.ActionLink("Change Avatar", "#", "#", null, new { @class = " btn backgroundWhite colorBlack" })*@
            </div>
            @*<div class="modal-footer">
                    <input type="submit" value="Submit" class="btn backgroundWhite colorBlack" />
                </div>*@
        </div>
    </div>
</div>
    </div>