@using FinancialPortal.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Financial Portal | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link href="~/Content/all.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link href="~/Content/icheck-bootstrap.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Content/adminlte.min.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <style>
        .login-page {
            background-image: url('../../images/pexels-burst-545054.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card border-dark">
            <div class="login-logo">
                <img src="~/Images/moneyprojs.png" alt="BugZap JS Logo" class="brand-image"
                     style="
            opacity: .8;
            border-radius: 15%;
            display: block;
            width: 25%;
            display: inline-block;
            margin-left: auto;">
                <b style="display: inline-block; margin-right: auto; font-weight:900">MoneyPro</b>JS
            </div>
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="input-group mb-3">
                            <input type="email" class="form-control" name="Email" placeholder="Email">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" name="Password" placeholder="Password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <div class="icheck-primary">
                                    <input type="checkbox" name="RememberMe" id="rememberMe">
                                    <label for="rememberMe">
                                        Remember Me
                                    </label>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-4">
                                <button type="submit" class="btn btn-outline-dark btn-block">Sign In</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    }
                </section>

                @*<div class="social-auth-links text-center mb-3">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-dark">
                        <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                    </a>
                </div>*@
                <!-- /.social-auth-links -->

                <p class="mb-0">
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>
                <p class="mb-0">
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
                <p class="mb-0">
                    @Html.ActionLink("Resend Email Confirmation", "ResendEmailConfirmation")
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
        @*<div class="col-4" style="padding-left:30px; padding-right:30px">
            @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken();
                @Html.Hidden("emailKey", "AdminEmail")
                <div>
                    <button type="submit" class="btn btn-admin btn-block btn-flat"><span>Demo Admin Login</span></button>
                </div>
            }
            @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken();
                @Html.Hidden("emailKey", "MemberEmail")
                <div>
                    <button type="submit" class="btn btn-projmanager btn-block btn-flat"><span>Demo Member Login</span></button>
                </div>
            }
        </div>*@
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Scripts/adminlte.min.js"></script>

</body>
</html>
