@model FinancialPortal.ViewModels.BankAccountViewModel
    @using FinancialPortal.Enums

@{
    ViewBag.Title = "Details";
}

<style>
    #button1 {
        background-color: #84a98c;
        border: solid;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>

<h1 class="m-0 text-dark" style="        font-size: 400%;
        text-align: center;
        color: #2f3e46
">
    <b>@Html.DisplayFor(model => model.BankAccount.AccountName) Snapshot</b>
</h1>
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-3">
            <div class="small-box elevation-2" style="
        background-color: #84a98c;
        color: white">
                <div class="inner" style="text-align:center">
                    <dl>
                        <dt>
                            <b>@Html.DisplayNameFor(model => model.BankAccount.CurrentBalance)</b>
                        </dt>
                        <dd style="font-size:xx-large">
                            @Html.DisplayFor(model => model.BankAccount.CurrentBalance)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-3">
            <div class="small-box elevation-2" style="
        background-color: #84a98c;
        color: white">
                <div class="inner" style="text-align:center">
                    <dl>
                        <dt>
                            <b>Monthly Spending</b>
                        </dt>
                        <dd style="font-size:xx-large">
                            @Html.DisplayFor(model => model.MonthlySpending)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-3">
            <div class="small-box elevation-2" style="
        background-color: #84a98c;
        color: white">
                <div class="inner" style="text-align:center">
                    <dl>
                        <dt>
                            <b>Monthly Deposits</b>
                        </dt>
                        <dd style="font-size:xx-large">
                            @Html.DisplayFor(model => model.MonthlyDeposits)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-3">
            <div class="small-box elevation-2" style="
        background-color: #84a98c;
        color: white">
                <div class="inner" style="text-align:center">
                    <dl>
                        <dt>
                            <b>Monthly Transactions</b>
                        </dt>
                        <dd style="font-size:xx-large">
                            @Html.DisplayFor(model => model.MonthlyTransactions)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="small-box elevation-2" style="
        background-color: #52796f;
        color: white">
                <div style="text-align:center">
                    <h3><b>Add Transaction</b></h3>
                </div>
                @using (Html.BeginForm("Create", "Transactions", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("Transaction.AccountId", Model.BankAccount.Id)
                    <div class="row">
                        <div class="col-2" style="text-align:center">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <b>Amount</b>
                                    @Html.Label("", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col">
                                        @Html.EditorFor(model => model.Transaction.Amount, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2" style="text-align:center">
                            <div class="form-group">
                                <b>Transaction Type</b>
                                @Html.Label("", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col">
                                    @Html.EnumDropDownListFor(model => model.Transaction.TransactionType, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-2" style="text-align:center">
                            <div class="form-group">
                                <b>Memo</b>
                                @Html.Label("", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col">
                                    @Html.EditorFor(model => model.Transaction.Memo, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-2" style="text-align:center">
                            <div class="form-group">
                                <b>Budget</b>
                                <div class="col">
                                    @Html.DropDownListFor(model => model.Transaction.BudgetItemId, Model.BudgetItemId, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4" style="text-align:center">
                            <div class="form-group">
                                <div class="col">
                                    <input id="button1" type="submit" class="btn" value="Add Transaction" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="small-box elevation-2" style="        background-color: #84a98c;
        color: black">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Amount
                            </th>
                            <th>
                                Budget
                            </th>
                            <th>
                                Memo
                            </th>
                            <th>
                                Date
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.BankAccount.Transactions.OrderByDescending(c => c.Created))
                        {
                        <tr>
                            @if (item.TransactionType == TransactionType.Withdrawal)
                            {
                                <td style="color:red">
                                    -[@item.Amount.ToString("C")]
                                </td>
                            }
                            else
                            {
                                <td style="color:green">
                                    @item.Amount.ToString("C")
                                </td>
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.BudgetItem.ItemName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Memo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Created)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div>
    @*<dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Household.HouseholdName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Household.HouseholdName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Owner.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Owner.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AccountName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AccountName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Created)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Created)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StartingBalance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartingBalance)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CurrentBalance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CurrentBalance)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.WarningBalance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WarningBalance)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsDeleted)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AccountType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AccountType)
            </dd>

        </dl>*@
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
