@model IEnumerable<FinancialPortal.Models.BankAccount>

@{
    ViewBag.Title = "Index";
}

<!--begin::Content-->
<!--<div class="content d-flex flex-column flex-column-fluid" id="kt_content">-->
<!--begin::Post-->
<!--<div class="post d-flex flex-column-fluid" id="kt_post">-->
<!--begin::Container-->
<!--<div id="kt_content_container" class="container">-->
<!--begin::Row-->
<!--<div class="row g-5 g-xl-8">-->
<!--begin::Col-->
<!--<div class="col-xl-4">-->
<!--begin::List Widget 1-->
<!--<div class="card card-xl-stretch mb-xl-8">-->
<!--begin::Body-->
<!--<div class="card-body p-0">-->
<!--begin::Header-->
<!--<div class="px-9 pt-7 card-rounded h-275px w-100 bg-primary">-->
<!--begin::Heading-->
<!--<div class="d-flex flex-stack">
    <h3 class="m-0 text-white fw-bolder fs-3">Sales Summary</h3>
    <div class="ms-1">-->
<!--begin::Menu-->
<!--<button type="button" class="btn btn-sm btn-icon btn-color-white btn-active-white btn-active-color-primary border-0 me-n3" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">-->
<!--begin::Svg Icon | path: icons/duotone/Layout/Layout-4-blocks-2.svg-->
<!--<span class="svg-icon svg-icon-2">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <rect x="5" y="5" width="5" height="5" rx="1" fill="#000000" />
            <rect x="14" y="5" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
            <rect x="5" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
            <rect x="14" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
        </g>
    </svg>
</span>-->
<!--end::Svg Icon-->
<!--</button>-->
<!--begin::Menu 3-->
<!--<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-bold w-200px py-3" data-kt-menu="true">-->
<!--begin::Heading-->
<!--<div class="menu-item px-3">
    <div class="menu-content text-muted pb-2 px-3 fs-7 text-uppercase">Payments</div>
</div>-->
<!--end::Heading-->
<!--begin::Menu item-->
<!--<div class="menu-item px-3">
    <a href="#" class="menu-link px-3">Create Invoice</a>
</div>-->
<!--end::Menu item-->
<!--begin::Menu item-->
<!--<div class="menu-item px-3">
    <a href="#" class="menu-link flex-stack px-3">
        Create Payment
        <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Specify a target name for future usage and reference"></i>
    </a>
</div>-->
<!--end::Menu item-->
<!--begin::Menu item-->
<!--<div class="menu-item px-3">
    <a href="#" class="menu-link px-3">Generate Bill</a>
</div>-->
<!--end::Menu item-->
<!--begin::Menu item-->
<!--<div class="menu-item px-3" data-kt-menu-trigger="hover" data-kt-menu-placement="left-start" data-kt-menu-flip="center, top">
    <a href="#" class="menu-link px-3">
        <span class="menu-title">Subscription</span>
        <span class="menu-arrow"></span>
    </a>-->
<!--begin::Menu sub-->
<!--<div class="menu-sub menu-sub-dropdown w-175px py-4">-->
<!--begin::Menu item-->
<!--<div class="menu-item px-3">
    <a href="#" class="menu-link px-3">Plans</a>
</div>-->
<!--end::Menu item-->
<!--begin::Menu item-->
<!--<div class="menu-item px-3">
    <a href="#" class="menu-link px-3">Billing</a>
</div>-->
<!--end::Menu item-->
<!--begin::Menu item-->
<!--<div class="menu-item px-3">
    <a href="#" class="menu-link px-3">Statements</a>
</div>-->
<!--end::Menu item-->
<!--begin::Menu separator-->
<!--<div class="separator my-2"></div>-->
<!--end::Menu separator-->
<!--begin::Menu item-->
<!--<div class="menu-item px-3">
    <div class="menu-content px-3">-->
<!--begin::Switch-->
<!--<label class="form-check form-switch form-check-custom form-check-solid">-->
<!--begin::Input-->
<!--<input class="form-check-input w-30px h-20px" type="checkbox" value="1" checked="checked" name="notifications" />-->
<!--end::Input-->
<!--end::Label-->
<!--<span class="form-check-label text-muted fs-6">Recuring</span>-->
<!--end::Label-->
<!--</label>-->
<!--end::Switch-->
<!--</div>
</div>-->
<!--end::Menu item-->
<!--</div>-->
<!--end::Menu sub-->
<!--</div>-->
<!--end::Menu item-->
<!--begin::Menu item-->
<!--<div class="menu-item px-3 my-1">
    <a href="#" class="menu-link px-3">Settings</a>
</div>-->
<!--end::Menu item-->
<!--</div>-->
<!--end::Menu 3-->
<!--end::Menu-->
<!--</div>
</div>-->
<!--end::Heading-->
<!--begin::Balance-->
<!--<div class="d-flex text-center flex-column text-white pt-8">
    <span class="fw-bold fs-7">You Balance</span>
    <span class="fw-bolder fs-2x pt-1">$37,562.00</span>
</div>-->
<!--end::Balance-->
<!--</div>-->
<!--end::Header-->
<!--begin::Items-->
<!--<div class="shadow-xs card-rounded mx-9 mb-9 px-6 py-9 position-relative z-index-1 bg-white" style="margin-top: -100px">-->
<!--begin::Item-->
<!--<div class="d-flex align-items-center mb-6">-->
<!--begin::Symbol-->
<!--<div class="symbol symbol-45px w-40px me-5">
    <span class="symbol-label bg-lighten">-->
<!--begin::Svg Icon | path: icons/duotone/Home/Globe.svg-->
<!--<span class="svg-icon svg-icon-1">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <rect x="0" y="0" width="24" height="24" />
            <path d="M13,18.9450712 L13,20 L14,20 C15.1045695,20 16,20.8954305 16,22 L8,22 C8,20.8954305 8.8954305,20 10,20 L11,20 L11,18.9448245 C9.02872877,18.7261967 7.20827378,17.866394 5.79372555,16.5182701 L4.73856106,17.6741866 C4.36621808,18.0820826 3.73370941,18.110904 3.32581341,17.7385611 C2.9179174,17.3662181 2.88909597,16.7337094 3.26143894,16.3258134 L5.04940685,14.367122 C5.46150313,13.9156769 6.17860937,13.9363085 6.56406875,14.4106998 C7.88623094,16.037907 9.86320756,17 12,17 C15.8659932,17 19,13.8659932 19,10 C19,7.73468744 17.9175842,5.65198725 16.1214335,4.34123851 C15.6753081,4.01567657 15.5775721,3.39010038 15.903134,2.94397499 C16.228696,2.49784959 16.8542722,2.4001136 17.3003976,2.72567554 C19.6071362,4.40902808 21,7.08906798 21,10 C21,14.6325537 17.4999505,18.4476269 13,18.9450712 Z" fill="#000000" fill-rule="nonzero" />
            <circle fill="#000000" opacity="0.3" cx="12" cy="10" r="6" />
        </g>
    </svg>
</span>-->
<!--end::Svg Icon-->
<!--</span>
</div>-->
<!--end::Symbol-->
<!--begin::Description-->
<!--<div class="d-flex align-items-center flex-wrap w-100">-->
<!--begin::Title-->
<!--<div class="mb-1 pe-3 flex-grow-1">
    <a href="#" class="fs-5 text-gray-800 text-hover-primary fw-bolder">Sales</a>
    <div class="text-gray-400 fw-bold fs-7">100 Regions</div>
</div>-->
<!--end::Title-->
<!--begin::Label-->
<!--<div class="d-flex align-items-center">
    <div class="fw-bolder fs-5 text-gray-800 pe-1">$2,5b</div>-->
<!--begin::Svg Icon | path: icons/duotone/Navigation/Arrow-up.svg-->
<!--<span class="svg-icon svg-icon-5 svg-icon-success ms-1">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon points="0 0 24 0 24 24 0 24" />
            <rect fill="#000000" opacity="0.5" x="11" y="5" width="2" height="14" rx="1" />
            <path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero" />
        </g>
    </svg>
</span>-->
<!--end::Svg Icon-->
<!--</div>-->
<!--end::Label-->
<!--</div>-->
<!--end::Description-->
<!--</div>-->
<!--end::Item-->
<!--begin::Item-->
<!--<div class="d-flex align-items-center mb-6">-->
<!--begin::Symbol-->
<!--<div class="symbol symbol-45px w-40px me-5">
    <span class="symbol-label bg-lighten">-->
<!--begin::Svg Icon | path: icons/duotone/Layout/Layout-4-blocks-2.svg-->
<!--<span class="svg-icon svg-icon-1">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <rect x="5" y="5" width="5" height="5" rx="1" fill="#000000" />
            <rect x="14" y="5" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
            <rect x="5" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
            <rect x="14" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
        </g>
    </svg>
</span>-->
<!--end::Svg Icon-->
<!--</span>
</div>-->
<!--end::Symbol-->
<!--begin::Description-->
<!--<div class="d-flex align-items-center flex-wrap w-100">-->
<!--begin::Title-->
<!--<div class="mb-1 pe-3 flex-grow-1">
    <a href="#" class="fs-5 text-gray-800 text-hover-primary fw-bolder">Revenue</a>
    <div class="text-gray-400 fw-bold fs-7">Quarter 2/3</div>
</div>-->
<!--end::Title-->
<!--begin::Label-->
<!--<div class="d-flex align-items-center">
    <div class="fw-bolder fs-5 text-gray-800 pe-1">$1,7b</div>-->
<!--begin::Svg Icon | path: icons/duotone/Navigation/Arrow-down.svg-->
<!--<span class="svg-icon svg-icon-5 svg-icon-danger ms-1">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon points="0 0 24 0 24 24 0 24" />
            <rect fill="#000000" opacity="0.5" x="11" y="5" width="2" height="14" rx="1" />
            <path d="M6.70710678,18.7071068 C6.31658249,19.0976311 5.68341751,19.0976311 5.29289322,18.7071068 C4.90236893,18.3165825 4.90236893,17.6834175 5.29289322,17.2928932 L11.2928932,11.2928932 C11.6714722,10.9143143 12.2810586,10.9010687 12.6757246,11.2628459 L18.6757246,16.7628459 C19.0828436,17.1360383 19.1103465,17.7686056 18.7371541,18.1757246 C18.3639617,18.5828436 17.7313944,18.6103465 17.3242754,18.2371541 L12.0300757,13.3841378 L6.70710678,18.7071068 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000003, 14.999999) scale(1, -1) translate(-12.000003, -14.999999)" />
        </g>
    </svg>
</span>-->
<!--end::Svg Icon-->
<!--</div>-->
<!--end::Label-->
<!--</div>-->
<!--end::Description-->
<!--</div>-->
<!--end::Item-->
<!--begin::Item-->
<!--<div class="d-flex align-items-center mb-6">-->
<!--begin::Symbol-->
<!--<div class="symbol symbol-45px w-40px me-5">
    <span class="symbol-label bg-lighten">-->
<!--begin::Svg Icon | path: icons/duotone/Devices/Watch2.svg-->
<!--<span class="svg-icon svg-icon-1">
    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <path d="M9,17 L15,17 L15,20.5 C15,21.3284271 14.3284271,22 13.5,22 L10.5,22 C9.67157288,22 9,21.3284271 9,20.5 L9,17 Z" fill="#000000" opacity="0.3" />
        <path d="M12,17 C14.7614237,17 17,14.7614237 17,12 C17,9.23857625 14.7614237,7 12,7 C9.23857625,7 7,9.23857625 7,12 C7,14.7614237 9.23857625,17 12,17 Z" fill="#000000" opacity="0.3" />
        <path d="M10.5,2 L13.5,2 C14.3284271,2 15,2.67157288 15,3.5 L15,7 L9,7 L9,3.5 C9,2.67157288 9.67157288,2 10.5,2 Z" fill="#000000" opacity="0.3" />
        <path d="M12,17 C14.7614237,17 17,14.7614237 17,12 C17,9.23857625 14.7614237,7 12,7 C9.23857625,7 7,9.23857625 7,12 C7,14.7614237 9.23857625,17 12,17 Z M12,19 C8.13400675,19 5,15.8659932 5,12 C5,8.13400675 8.13400675,5 12,5 C15.8659932,5 19,8.13400675 19,12 C19,15.8659932 15.8659932,19 12,19 Z" fill="#000000" fill-rule="nonzero" />
    </svg>
</span>-->
<!--end::Svg Icon-->
<!--</span>
</div>-->
<!--end::Symbol-->
<!--begin::Description-->
<!--<div class="d-flex align-items-center flex-wrap w-100">-->
<!--begin::Title-->
<!--<div class="mb-1 pe-3 flex-grow-1">
    <a href="#" class="fs-5 text-gray-800 text-hover-primary fw-bolder">Growth</a>
    <div class="text-gray-400 fw-bold fs-7">80% Rate</div>
</div>-->
<!--end::Title-->
<!--begin::Label-->
<!--<div class="d-flex align-items-center">
    <div class="fw-bolder fs-5 text-gray-800 pe-1">$8,8m</div>-->
<!--begin::Svg Icon | path: icons/duotone/Navigation/Arrow-up.svg-->
<!--<span class="svg-icon svg-icon-5 svg-icon-success ms-1">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon points="0 0 24 0 24 24 0 24" />
            <rect fill="#000000" opacity="0.5" x="11" y="5" width="2" height="14" rx="1" />
            <path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero" />
        </g>
    </svg>
</span>-->
<!--end::Svg Icon-->
<!--</div>-->
<!--end::Label-->
<!--</div>-->
<!--end::Description-->
<!--</div>-->
<!--end::Item-->
<!--begin::Item-->
<!--<div class="d-flex align-items-center">-->
<!--begin::Symbol-->
<!--<div class="symbol symbol-45px w-40px me-5">
    <span class="symbol-label bg-lighten">-->
<!--begin::Svg Icon | path: icons/duotone/General/Clipboard.svg-->
<!--<span class="svg-icon svg-icon-1">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <rect x="0" y="0" width="24" height="24" />
            <path d="M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z" fill="#000000" opacity="0.3" />
            <path d="M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z" fill="#000000" />
            <rect fill="#000000" opacity="0.3" x="7" y="10" width="5" height="2" rx="1" />
            <rect fill="#000000" opacity="0.3" x="7" y="14" width="9" height="2" rx="1" />
        </g>
    </svg>
</span>-->
<!--end::Svg Icon-->
<!--</span>
</div>-->
<!--end::Symbol-->
<!--begin::Description-->
<!--<div class="d-flex align-items-center flex-wrap w-100">-->
<!--begin::Title-->
<!--<div class="mb-1 pe-3 flex-grow-1">
    <a href="#" class="fs-5 text-gray-800 text-hover-primary fw-bolder">Dispute</a>
    <div class="text-gray-400 fw-bold fs-7">3090 Refunds</div>
</div>-->
<!--end::Title-->
<!--begin::Label-->
<!--<div class="d-flex align-items-center">
    <div class="fw-bolder fs-5 text-gray-800 pe-1">$270m</div>-->
<!--begin::Svg Icon | path: icons/duotone/Navigation/Arrow-down.svg-->
<!--<span class="svg-icon svg-icon-5 svg-icon-danger ms-1">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon points="0 0 24 0 24 24 0 24" />
            <rect fill="#000000" opacity="0.5" x="11" y="5" width="2" height="14" rx="1" />
            <path d="M6.70710678,18.7071068 C6.31658249,19.0976311 5.68341751,19.0976311 5.29289322,18.7071068 C4.90236893,18.3165825 4.90236893,17.6834175 5.29289322,17.2928932 L11.2928932,11.2928932 C11.6714722,10.9143143 12.2810586,10.9010687 12.6757246,11.2628459 L18.6757246,16.7628459 C19.0828436,17.1360383 19.1103465,17.7686056 18.7371541,18.1757246 C18.3639617,18.5828436 17.7313944,18.6103465 17.3242754,18.2371541 L12.0300757,13.3841378 L6.70710678,18.7071068 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000003, 14.999999) scale(1, -1) translate(-12.000003, -14.999999)" />
        </g>
    </svg>
</span>-->
<!--end::Svg Icon-->
<!--</div>-->
<!--end::Label-->
<!--</div>-->
<!--end::Description-->
<!--</div>-->
<!--end::Item-->
<!--</div>-->
<!--end::Items-->
<!--</div>-->
<!--end::Body-->
<!--</div>-->
<!--end::List Widget 1-->
<!--</div>-->
<!--end::Col-->
<!--begin::Col-->
<!--<div class="col-xl-4">-->
<!--begin::List Widget 1-->
<!--<div class="card card-xl-stretch mb-xl-8">-->
<!--begin::Body-->
<!--<div class="card-body p-0">-->
<!--begin::Header-->
<!--<div class="px-9 pt-7 card-rounded h-275px w-100 bg-danger">-->
<!--begin::Heading-->
<!--<div class="d-flex flex-stack">
    <h3 class="m-0 text-white fw-bolder fs-3">Sales Summary</h3>
    <div class="ms-1">-->
<!--begin::Menu-->
<!--<button type="button" class="btn btn-sm btn-icon btn-color-white btn-active-white btn-active-color-danger border-0 me-n3" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">-->
<!--begin::Svg Icon | path: icons/duotone/Layout/Layout-4-blocks-2.svg-->
<!--<span class="svg-icon svg-icon-2">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <rect x="5" y="5" width="5" height="5" rx="1" fill="#000000" />
            <rect x="14" y="5" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
            <rect x="5" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
            <rect x="14" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
        </g>
    </svg>
</span>-->
<!--end::Svg Icon-->
<!--</button>-->
<!--begin::Menu 3-->
<!--<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-bold w-200px py-3" data-kt-menu="true">-->
<!--begin::Heading-->
<!--<div class="menu-item px-3">
    <div class="menu-content text-muted pb-2 px-3 fs-7 text-uppercase">Payments</div>
</div>-->
<!--end::Heading-->
<!--begin::Menu item-->
<!--<div class="menu-item px-3">
    <a href="#" class="menu-link px-3">Create Invoice</a>
</div>-->
<!--end::Menu item-->
<!--begin::Menu item-->
<!--<div class="menu-item px-3">
    <a href="#" class="menu-link flex-stack px-3">
        Create Payment
        <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Specify a target name for future usage and reference"></i>
    </a>
</div>-->
<!--end::Menu item-->
<!--begin::Menu item-->
<!--<div class="menu-item px-3">
    <a href="#" class="menu-link px-3">Generate Bill</a>
</div>-->
<!--end::Menu item-->
<!--begin::Menu item-->
<!--<div class="menu-item px-3" data-kt-menu-trigger="hover" data-kt-menu-placement="left-start" data-kt-menu-flip="center, top">
    <a href="#" class="menu-link px-3">
        <span class="menu-title">Subscription</span>
        <span class="menu-arrow"></span>
    </a>-->
<!--begin::Menu sub-->
<!--<div class="menu-sub menu-sub-dropdown w-175px py-4">-->
<!--begin::Menu item-->
<!--<div class="menu-item px-3">
    <a href="#" class="menu-link px-3">Plans</a>
</div>-->
<!--end::Menu item-->
<!--begin::Menu item-->
<!--<div class="menu-item px-3">
    <a href="#" class="menu-link px-3">Billing</a>
</div>-->
<!--end::Menu item-->
<!--begin::Menu item-->
<!--<div class="menu-item px-3">
    <a href="#" class="menu-link px-3">Statements</a>
</div>-->
<!--end::Menu item-->
<!--begin::Menu separator-->
<!--<div class="separator my-2"></div>-->
<!--end::Menu separator-->
<!--begin::Menu item-->
<!--<div class="menu-item px-3">
    <div class="menu-content px-3">-->
<!--begin::Switch-->
<!--<label class="form-check form-switch form-check-custom form-check-solid">-->
<!--begin::Input-->
<!--<input class="form-check-input w-30px h-20px" type="checkbox" value="1" checked="checked" name="notifications" />-->
<!--end::Input-->
<!--end::Label-->
<!--<span class="form-check-label text-muted fs-6">Recuring</span>-->
<!--end::Label-->
<!--</label>-->
<!--end::Switch-->
<!--</div>
</div>-->
<!--end::Menu item-->
<!--</div>-->
<!--end::Menu sub-->
<!--</div>-->
<!--end::Menu item-->
<!--begin::Menu item-->
<!--<div class="menu-item px-3 my-1">
    <a href="#" class="menu-link px-3">Settings</a>
</div>-->
<!--end::Menu item-->
<!--</div>-->
<!--end::Menu 3-->
<!--end::Menu-->
<!--</div>
</div>-->
<!--end::Heading-->
<!--begin::Balance-->
<!--<div class="d-flex text-center flex-column text-white pt-8">
    <span class="fw-bold fs-7">You Balance</span>
    <span class="fw-bolder fs-2x pt-1">$37,562.00</span>
</div>-->
<!--end::Balance-->
<!--</div>-->
<!--end::Header-->
<!--begin::Items-->
<!--<div class="shadow-xs card-rounded mx-9 mb-9 px-6 py-9 position-relative z-index-1 bg-white" style="margin-top: -100px">-->
<!--begin::Item-->
<!--<div class="d-flex align-items-center mb-6">-->
<!--begin::Symbol-->
<!--<div class="symbol symbol-45px w-40px me-5">
    <span class="symbol-label bg-lighten">-->
<!--begin::Svg Icon | path: icons/duotone/Home/Globe.svg-->
<!--<span class="svg-icon svg-icon-1">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <rect x="0" y="0" width="24" height="24" />
            <path d="M13,18.9450712 L13,20 L14,20 C15.1045695,20 16,20.8954305 16,22 L8,22 C8,20.8954305 8.8954305,20 10,20 L11,20 L11,18.9448245 C9.02872877,18.7261967 7.20827378,17.866394 5.79372555,16.5182701 L4.73856106,17.6741866 C4.36621808,18.0820826 3.73370941,18.110904 3.32581341,17.7385611 C2.9179174,17.3662181 2.88909597,16.7337094 3.26143894,16.3258134 L5.04940685,14.367122 C5.46150313,13.9156769 6.17860937,13.9363085 6.56406875,14.4106998 C7.88623094,16.037907 9.86320756,17 12,17 C15.8659932,17 19,13.8659932 19,10 C19,7.73468744 17.9175842,5.65198725 16.1214335,4.34123851 C15.6753081,4.01567657 15.5775721,3.39010038 15.903134,2.94397499 C16.228696,2.49784959 16.8542722,2.4001136 17.3003976,2.72567554 C19.6071362,4.40902808 21,7.08906798 21,10 C21,14.6325537 17.4999505,18.4476269 13,18.9450712 Z" fill="#000000" fill-rule="nonzero" />
            <circle fill="#000000" opacity="0.3" cx="12" cy="10" r="6" />
        </g>
    </svg>
</span>-->
<!--end::Svg Icon-->
<!--</span>
</div>-->
<!--end::Symbol-->
<!--begin::Description-->
<!--<div class="d-flex align-items-center flex-wrap w-100">-->
<!--begin::Title-->
<!--<div class="mb-1 pe-3 flex-grow-1">
    <a href="#" class="fs-5 text-gray-800 text-hover-primary fw-bolder">Sales</a>
    <div class="text-gray-400 fw-bold fs-7">100 Regions</div>
</div>-->
<!--end::Title-->
<!--begin::Label-->
<!--<div class="d-flex align-items-center">
    <div class="fw-bolder fs-5 text-gray-800 pe-1">$2,5b</div>-->
<!--begin::Svg Icon | path: icons/duotone/Navigation/Arrow-up.svg-->
<!--<span class="svg-icon svg-icon-5 svg-icon-success ms-1">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon points="0 0 24 0 24 24 0 24" />
            <rect fill="#000000" opacity="0.5" x="11" y="5" width="2" height="14" rx="1" />
            <path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero" />
        </g>
    </svg>
</span>-->
<!--end::Svg Icon-->
<!--</div>-->
<!--end::Label-->
<!--</div>-->
<!--end::Description-->
<!--</div>-->
<!--end::Item-->
<!--begin::Item-->
<!--<div class="d-flex align-items-center mb-6">-->
<!--begin::Symbol-->
<!--<div class="symbol symbol-45px w-40px me-5">
    <span class="symbol-label bg-lighten">-->
<!--begin::Svg Icon | path: icons/duotone/Layout/Layout-4-blocks-2.svg-->
<!--<span class="svg-icon svg-icon-1">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <rect x="5" y="5" width="5" height="5" rx="1" fill="#000000" />
            <rect x="14" y="5" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
            <rect x="5" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
            <rect x="14" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
        </g>
    </svg>
</span>-->
<!--end::Svg Icon-->
<!--</span>
</div>-->
<!--end::Symbol-->
<!--begin::Description-->
<!--<div class="d-flex align-items-center flex-wrap w-100">-->
<!--begin::Title-->
<!--<div class="mb-1 pe-3 flex-grow-1">
    <a href="#" class="fs-5 text-gray-800 text-hover-primary fw-bolder">Revenue</a>
    <div class="text-gray-400 fw-bold fs-7">Quarter 2/3</div>
</div>-->
<!--end::Title-->
<!--begin::Label-->
<!--<div class="d-flex align-items-center">
    <div class="fw-bolder fs-5 text-gray-800 pe-1">$1,7b</div>-->
<!--begin::Svg Icon | path: icons/duotone/Navigation/Arrow-down.svg-->
<!--<span class="svg-icon svg-icon-5 svg-icon-danger ms-1">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon points="0 0 24 0 24 24 0 24" />
            <rect fill="#000000" opacity="0.5" x="11" y="5" width="2" height="14" rx="1" />
            <path d="M6.70710678,18.7071068 C6.31658249,19.0976311 5.68341751,19.0976311 5.29289322,18.7071068 C4.90236893,18.3165825 4.90236893,17.6834175 5.29289322,17.2928932 L11.2928932,11.2928932 C11.6714722,10.9143143 12.2810586,10.9010687 12.6757246,11.2628459 L18.6757246,16.7628459 C19.0828436,17.1360383 19.1103465,17.7686056 18.7371541,18.1757246 C18.3639617,18.5828436 17.7313944,18.6103465 17.3242754,18.2371541 L12.0300757,13.3841378 L6.70710678,18.7071068 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000003, 14.999999) scale(1, -1) translate(-12.000003, -14.999999)" />
        </g>
    </svg>
</span>-->
<!--end::Svg Icon-->
<!--</div>-->
<!--end::Label-->
<!--</div>-->
<!--end::Description-->
<!--</div>-->
<!--end::Item-->
<!--begin::Item-->
<!--<div class="d-flex align-items-center mb-6">-->
<!--begin::Symbol-->
<!--<div class="symbol symbol-45px w-40px me-5">
    <span class="symbol-label bg-lighten">-->
<!--begin::Svg Icon | path: icons/duotone/Devices/Watch2.svg-->
<!--<span class="svg-icon svg-icon-1">
    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <path d="M9,17 L15,17 L15,20.5 C15,21.3284271 14.3284271,22 13.5,22 L10.5,22 C9.67157288,22 9,21.3284271 9,20.5 L9,17 Z" fill="#000000" opacity="0.3" />
        <path d="M12,17 C14.7614237,17 17,14.7614237 17,12 C17,9.23857625 14.7614237,7 12,7 C9.23857625,7 7,9.23857625 7,12 C7,14.7614237 9.23857625,17 12,17 Z" fill="#000000" opacity="0.3" />
        <path d="M10.5,2 L13.5,2 C14.3284271,2 15,2.67157288 15,3.5 L15,7 L9,7 L9,3.5 C9,2.67157288 9.67157288,2 10.5,2 Z" fill="#000000" opacity="0.3" />
        <path d="M12,17 C14.7614237,17 17,14.7614237 17,12 C17,9.23857625 14.7614237,7 12,7 C9.23857625,7 7,9.23857625 7,12 C7,14.7614237 9.23857625,17 12,17 Z M12,19 C8.13400675,19 5,15.8659932 5,12 C5,8.13400675 8.13400675,5 12,5 C15.8659932,5 19,8.13400675 19,12 C19,15.8659932 15.8659932,19 12,19 Z" fill="#000000" fill-rule="nonzero" />
    </svg>
</span>-->
<!--end::Svg Icon-->
<!--</span>
</div>-->
<!--end::Symbol-->
<!--begin::Description-->
<!--<div class="d-flex align-items-center flex-wrap w-100">-->
<!--begin::Title-->
<!--<div class="mb-1 pe-3 flex-grow-1">
    <a href="#" class="fs-5 text-gray-800 text-hover-primary fw-bolder">Growth</a>
    <div class="text-gray-400 fw-bold fs-7">80% Rate</div>
</div>-->
<!--end::Title-->
<!--begin::Label-->
<!--<div class="d-flex align-items-center">
    <div class="fw-bolder fs-5 text-gray-800 pe-1">$8,8m</div>-->
<!--begin::Svg Icon | path: icons/duotone/Navigation/Arrow-up.svg-->
<!--<span class="svg-icon svg-icon-5 svg-icon-success ms-1">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon points="0 0 24 0 24 24 0 24" />
            <rect fill="#000000" opacity="0.5" x="11" y="5" width="2" height="14" rx="1" />
            <path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero" />
        </g>
    </svg>
</span>-->
<!--end::Svg Icon-->
<!--</div>-->
<!--end::Label-->
<!--</div>-->
<!--end::Description-->
<!--</div>-->
<!--end::Item-->
<!--begin::Item-->
<!--<div class="d-flex align-items-center">-->
<!--begin::Symbol-->
<!--<div class="symbol symbol-45px w-40px me-5">
    <span class="symbol-label bg-lighten">-->
<!--begin::Svg Icon | path: icons/duotone/General/Clipboard.svg-->
<!--<span class="svg-icon svg-icon-1">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <rect x="0" y="0" width="24" height="24" />
            <path d="M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z" fill="#000000" opacity="0.3" />
            <path d="M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z" fill="#000000" />
            <rect fill="#000000" opacity="0.3" x="7" y="10" width="5" height="2" rx="1" />
            <rect fill="#000000" opacity="0.3" x="7" y="14" width="9" height="2" rx="1" />
        </g>
    </svg>
</span>-->
<!--end::Svg Icon-->
<!--</span>
</div>-->
<!--end::Symbol-->
<!--begin::Description-->
<!--<div class="d-flex align-items-center flex-wrap w-100">-->
<!--begin::Title-->
<!--<div class="mb-1 pe-3 flex-grow-1">
    <a href="#" class="fs-5 text-gray-800 text-hover-primary fw-bolder">Dispute</a>
    <div class="text-gray-400 fw-bold fs-7">3090 Refunds</div>
</div>-->
<!--end::Title-->
<!--begin::Label-->
<!--<div class="d-flex align-items-center">
    <div class="fw-bolder fs-5 text-gray-800 pe-1">$270m</div>-->
<!--begin::Svg Icon | path: icons/duotone/Navigation/Arrow-down.svg-->
<!--<span class="svg-icon svg-icon-5 svg-icon-danger ms-1">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon points="0 0 24 0 24 24 0 24" />
            <rect fill="#000000" opacity="0.5" x="11" y="5" width="2" height="14" rx="1" />
            <path d="M6.70710678,18.7071068 C6.31658249,19.0976311 5.68341751,19.0976311 5.29289322,18.7071068 C4.90236893,18.3165825 4.90236893,17.6834175 5.29289322,17.2928932 L11.2928932,11.2928932 C11.6714722,10.9143143 12.2810586,10.9010687 12.6757246,11.2628459 L18.6757246,16.7628459 C19.0828436,17.1360383 19.1103465,17.7686056 18.7371541,18.1757246 C18.3639617,18.5828436 17.7313944,18.6103465 17.3242754,18.2371541 L12.0300757,13.3841378 L6.70710678,18.7071068 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000003, 14.999999) scale(1, -1) translate(-12.000003, -14.999999)" />
        </g>
    </svg>
</span>-->
<!--end::Svg Icon-->
<!--</div>-->
<!--end::Label-->
<!--</div>-->
<!--end::Description-->
<!--</div>-->
<!--end::Item-->
<!--</div>-->
<!--end::Items-->
<!--</div>-->
<!--end::Body-->
<!--</div>-->
<!--end::List Widget 1-->
<!--</div>-->
<!--end::Col-->
<!--begin::Col-->
<!--<div class="col-xl-4">-->
<!--begin::List Widget 1-->
<!--<div class="card card-xl-stretch mb-5 mb-xl-8">-->
<!--begin::Body-->
<!--<div class="card-body p-0">-->
<!--begin::Header-->
<!--<div class="px-9 pt-7 card-rounded h-275px w-100 bg-success">-->
<!--begin::Heading-->
<!--<div class="d-flex flex-stack">
    <h3 class="m-0 text-white fw-bolder fs-3">Sales Summary</h3>
    <div class="ms-1">-->
<!--begin::Menu-->
<!--<button type="button" class="btn btn-sm btn-icon btn-color-white btn-active-white btn-active-color-success border-0 me-n3" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">-->
<!--begin::Svg Icon | path: icons/duotone/Layout/Layout-4-blocks-2.svg-->
<!--<span class="svg-icon svg-icon-2">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <rect x="5" y="5" width="5" height="5" rx="1" fill="#000000" />
            <rect x="14" y="5" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
            <rect x="5" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
            <rect x="14" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
        </g>
    </svg>
</span>-->
<!--end::Svg Icon-->
<!--</button>-->
<!--begin::Menu 3-->
<!--<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-bold w-200px py-3" data-kt-menu="true">-->
<!--begin::Heading-->
<!--<div class="menu-item px-3">
    <div class="menu-content text-muted pb-2 px-3 fs-7 text-uppercase">Payments</div>
</div>-->
<!--end::Heading-->
<!--begin::Menu item-->
<!--<div class="menu-item px-3">
    <a href="#" class="menu-link px-3">Create Invoice</a>
</div>-->
<!--end::Menu item-->
<!--begin::Menu item-->
<!--<div class="menu-item px-3">
    <a href="#" class="menu-link flex-stack px-3">
        Create Payment
        <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Specify a target name for future usage and reference"></i>
    </a>
</div>-->
<!--end::Menu item-->
<!--begin::Menu item-->
<!--<div class="menu-item px-3">
    <a href="#" class="menu-link px-3">Generate Bill</a>
</div>-->
<!--end::Menu item-->
<!--begin::Menu item-->
<!--<div class="menu-item px-3" data-kt-menu-trigger="hover" data-kt-menu-placement="left-start" data-kt-menu-flip="center, top">
    <a href="#" class="menu-link px-3">
        <span class="menu-title">Subscription</span>
        <span class="menu-arrow"></span>
    </a>-->
<!--begin::Menu sub-->
<!--<div class="menu-sub menu-sub-dropdown w-175px py-4">-->
<!--begin::Menu item-->
<!--<div class="menu-item px-3">
    <a href="#" class="menu-link px-3">Plans</a>
</div>-->
<!--end::Menu item-->
<!--begin::Menu item-->
<!--<div class="menu-item px-3">
    <a href="#" class="menu-link px-3">Billing</a>
</div>-->
<!--end::Menu item-->
<!--begin::Menu item-->
<!--<div class="menu-item px-3">
    <a href="#" class="menu-link px-3">Statements</a>
</div>-->
<!--end::Menu item-->
<!--begin::Menu separator-->
<!--<div class="separator my-2"></div>-->
<!--end::Menu separator-->
<!--begin::Menu item-->
<!--<div class="menu-item px-3">
    <div class="menu-content px-3">-->
<!--begin::Switch-->
<!--<label class="form-check form-switch form-check-custom form-check-solid">-->
<!--begin::Input-->
<!--<input class="form-check-input w-30px h-20px" type="checkbox" value="1" checked="checked" name="notifications" />-->
<!--end::Input-->
<!--end::Label-->
<!--<span class="form-check-label text-muted fs-6">Recuring</span>-->
<!--end::Label-->
<!--</label>-->
<!--end::Switch-->
<!--</div>
</div>-->
<!--end::Menu item-->
<!--</div>-->
<!--end::Menu sub-->
<!--</div>-->
<!--end::Menu item-->
<!--begin::Menu item-->
<!--<div class="menu-item px-3 my-1">
    <a href="#" class="menu-link px-3">Settings</a>
</div>-->
<!--end::Menu item-->
<!--</div>-->
<!--end::Menu 3-->
<!--end::Menu-->
<!--</div>
</div>-->
<!--end::Heading-->
<!--begin::Balance-->
<!--<div class="d-flex text-center flex-column text-white pt-8">
    <span class="fw-bold fs-7">You Balance</span>
    <span class="fw-bolder fs-2x pt-1">$37,562.00</span>
</div>-->
<!--end::Balance-->
<!--</div>-->
<!--end::Header-->
<!--begin::Items-->
<!--<div class="shadow-xs card-rounded mx-9 mb-9 px-6 py-9 position-relative z-index-1 bg-white" style="margin-top: -100px">-->
<!--begin::Item-->
<!--<div class="d-flex align-items-center mb-6">-->
<!--begin::Symbol-->
<!--<div class="symbol symbol-45px w-40px me-5">
    <span class="symbol-label bg-lighten">-->
<!--begin::Svg Icon | path: icons/duotone/Home/Globe.svg-->
<!--<span class="svg-icon svg-icon-1">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <rect x="0" y="0" width="24" height="24" />
            <path d="M13,18.9450712 L13,20 L14,20 C15.1045695,20 16,20.8954305 16,22 L8,22 C8,20.8954305 8.8954305,20 10,20 L11,20 L11,18.9448245 C9.02872877,18.7261967 7.20827378,17.866394 5.79372555,16.5182701 L4.73856106,17.6741866 C4.36621808,18.0820826 3.73370941,18.110904 3.32581341,17.7385611 C2.9179174,17.3662181 2.88909597,16.7337094 3.26143894,16.3258134 L5.04940685,14.367122 C5.46150313,13.9156769 6.17860937,13.9363085 6.56406875,14.4106998 C7.88623094,16.037907 9.86320756,17 12,17 C15.8659932,17 19,13.8659932 19,10 C19,7.73468744 17.9175842,5.65198725 16.1214335,4.34123851 C15.6753081,4.01567657 15.5775721,3.39010038 15.903134,2.94397499 C16.228696,2.49784959 16.8542722,2.4001136 17.3003976,2.72567554 C19.6071362,4.40902808 21,7.08906798 21,10 C21,14.6325537 17.4999505,18.4476269 13,18.9450712 Z" fill="#000000" fill-rule="nonzero" />
            <circle fill="#000000" opacity="0.3" cx="12" cy="10" r="6" />
        </g>
    </svg>
</span>-->
<!--end::Svg Icon-->
<!--</span>
</div>-->
<!--end::Symbol-->
<!--begin::Description-->
<!--<div class="d-flex align-items-center flex-wrap w-100">-->
<!--begin::Title-->
<!--<div class="mb-1 pe-3 flex-grow-1">
    <a href="#" class="fs-5 text-gray-800 text-hover-primary fw-bolder">Sales</a>
    <div class="text-gray-400 fw-bold fs-7">100 Regions</div>
</div>-->
<!--end::Title-->
<!--begin::Label-->
<!--<div class="d-flex align-items-center">
    <div class="fw-bolder fs-5 text-gray-800 pe-1">$2,5b</div>-->
<!--begin::Svg Icon | path: icons/duotone/Navigation/Arrow-up.svg-->
<!--<span class="svg-icon svg-icon-5 svg-icon-success ms-1">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon points="0 0 24 0 24 24 0 24" />
            <rect fill="#000000" opacity="0.5" x="11" y="5" width="2" height="14" rx="1" />
            <path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero" />
        </g>
    </svg>
</span>-->
<!--end::Svg Icon-->
<!--</div>-->
<!--end::Label-->
<!--</div>-->
<!--end::Description-->
<!--</div>-->
<!--end::Item-->
<!--begin::Item-->
<!--<div class="d-flex align-items-center mb-6">-->
<!--begin::Symbol-->
<!--<div class="symbol symbol-45px w-40px me-5">
    <span class="symbol-label bg-lighten">-->
<!--begin::Svg Icon | path: icons/duotone/Layout/Layout-4-blocks-2.svg-->
<!--<span class="svg-icon svg-icon-1">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <rect x="5" y="5" width="5" height="5" rx="1" fill="#000000" />
            <rect x="14" y="5" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
            <rect x="5" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
            <rect x="14" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
        </g>
    </svg>
</span>-->
<!--end::Svg Icon-->
<!--</span>
</div>-->
<!--end::Symbol-->
<!--begin::Description-->
<!--<div class="d-flex align-items-center flex-wrap w-100">-->
<!--begin::Title-->
<!--<div class="mb-1 pe-3 flex-grow-1">
    <a href="#" class="fs-5 text-gray-800 text-hover-primary fw-bolder">Revenue</a>
    <div class="text-gray-400 fw-bold fs-7">Quarter 2/3</div>
</div>-->
<!--end::Title-->
<!--begin::Label-->
<!--<div class="d-flex align-items-center">
    <div class="fw-bolder fs-5 text-gray-800 pe-1">$1,7b</div>-->
<!--begin::Svg Icon | path: icons/duotone/Navigation/Arrow-down.svg-->
<!--<span class="svg-icon svg-icon-5 svg-icon-danger ms-1">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon points="0 0 24 0 24 24 0 24" />
            <rect fill="#000000" opacity="0.5" x="11" y="5" width="2" height="14" rx="1" />
            <path d="M6.70710678,18.7071068 C6.31658249,19.0976311 5.68341751,19.0976311 5.29289322,18.7071068 C4.90236893,18.3165825 4.90236893,17.6834175 5.29289322,17.2928932 L11.2928932,11.2928932 C11.6714722,10.9143143 12.2810586,10.9010687 12.6757246,11.2628459 L18.6757246,16.7628459 C19.0828436,17.1360383 19.1103465,17.7686056 18.7371541,18.1757246 C18.3639617,18.5828436 17.7313944,18.6103465 17.3242754,18.2371541 L12.0300757,13.3841378 L6.70710678,18.7071068 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000003, 14.999999) scale(1, -1) translate(-12.000003, -14.999999)" />
        </g>
    </svg>
</span>-->
<!--end::Svg Icon-->
<!--</div>-->
<!--end::Label-->
<!--</div>-->
<!--end::Description-->
<!--</div>-->
<!--end::Item-->
<!--begin::Item-->
<!--<div class="d-flex align-items-center mb-6">-->
<!--begin::Symbol-->
<!--<div class="symbol symbol-45px w-40px me-5">
    <span class="symbol-label bg-lighten">-->
<!--begin::Svg Icon | path: icons/duotone/Devices/Watch2.svg-->
<!--<span class="svg-icon svg-icon-1">
    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <path d="M9,17 L15,17 L15,20.5 C15,21.3284271 14.3284271,22 13.5,22 L10.5,22 C9.67157288,22 9,21.3284271 9,20.5 L9,17 Z" fill="#000000" opacity="0.3" />
        <path d="M12,17 C14.7614237,17 17,14.7614237 17,12 C17,9.23857625 14.7614237,7 12,7 C9.23857625,7 7,9.23857625 7,12 C7,14.7614237 9.23857625,17 12,17 Z" fill="#000000" opacity="0.3" />
        <path d="M10.5,2 L13.5,2 C14.3284271,2 15,2.67157288 15,3.5 L15,7 L9,7 L9,3.5 C9,2.67157288 9.67157288,2 10.5,2 Z" fill="#000000" opacity="0.3" />
        <path d="M12,17 C14.7614237,17 17,14.7614237 17,12 C17,9.23857625 14.7614237,7 12,7 C9.23857625,7 7,9.23857625 7,12 C7,14.7614237 9.23857625,17 12,17 Z M12,19 C8.13400675,19 5,15.8659932 5,12 C5,8.13400675 8.13400675,5 12,5 C15.8659932,5 19,8.13400675 19,12 C19,15.8659932 15.8659932,19 12,19 Z" fill="#000000" fill-rule="nonzero" />
    </svg>
</span>-->
<!--end::Svg Icon-->
<!--</span>
</div>-->
<!--end::Symbol-->
<!--begin::Description-->
<!--<div class="d-flex align-items-center flex-wrap w-100">-->
<!--begin::Title-->
<!--<div class="mb-1 pe-3 flex-grow-1">
    <a href="#" class="fs-5 text-gray-800 text-hover-primary fw-bolder">Growth</a>
    <div class="text-gray-400 fw-bold fs-7">80% Rate</div>
</div>-->
<!--end::Title-->
<!--begin::Label-->
<!--<div class="d-flex align-items-center">
    <div class="fw-bolder fs-5 text-gray-800 pe-1">$8,8m</div>-->
<!--begin::Svg Icon | path: icons/duotone/Navigation/Arrow-up.svg-->
<!--<span class="svg-icon svg-icon-5 svg-icon-success ms-1">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon points="0 0 24 0 24 24 0 24" />
            <rect fill="#000000" opacity="0.5" x="11" y="5" width="2" height="14" rx="1" />
            <path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero" />
        </g>
    </svg>
</span>-->
<!--end::Svg Icon-->
<!--</div>-->
<!--end::Label-->
<!--</div>-->
<!--end::Description-->
<!--</div>-->
<!--end::Item-->
<!--begin::Item-->
<!--<div class="d-flex align-items-center">-->
<!--begin::Symbol-->
<!--<div class="symbol symbol-45px w-40px me-5">
    <span class="symbol-label bg-lighten">-->
<!--begin::Svg Icon | path: icons/duotone/General/Clipboard.svg-->
<!--<span class="svg-icon svg-icon-1">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <rect x="0" y="0" width="24" height="24" />
            <path d="M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z" fill="#000000" opacity="0.3" />
            <path d="M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z" fill="#000000" />
            <rect fill="#000000" opacity="0.3" x="7" y="10" width="5" height="2" rx="1" />
            <rect fill="#000000" opacity="0.3" x="7" y="14" width="9" height="2" rx="1" />
        </g>
    </svg>
</span>-->
<!--end::Svg Icon-->
<!--</span>
</div>-->
<!--end::Symbol-->
<!--begin::Description-->
<!--<div class="d-flex align-items-center flex-wrap w-100">-->
<!--begin::Title-->
<!--<div class="mb-1 pe-3 flex-grow-1">
    <a href="#" class="fs-5 text-gray-800 text-hover-primary fw-bolder">Dispute</a>
    <div class="text-gray-400 fw-bold fs-7">3090 Refunds</div>
</div>-->
<!--end::Title-->
<!--begin::Label-->
<!--<div class="d-flex align-items-center">
    <div class="fw-bolder fs-5 text-gray-800 pe-1">$270m</div>-->
<!--begin::Svg Icon | path: icons/duotone/Navigation/Arrow-down.svg-->
<!--<span class="svg-icon svg-icon-5 svg-icon-danger ms-1">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon points="0 0 24 0 24 24 0 24" />
            <rect fill="#000000" opacity="0.5" x="11" y="5" width="2" height="14" rx="1" />
            <path d="M6.70710678,18.7071068 C6.31658249,19.0976311 5.68341751,19.0976311 5.29289322,18.7071068 C4.90236893,18.3165825 4.90236893,17.6834175 5.29289322,17.2928932 L11.2928932,11.2928932 C11.6714722,10.9143143 12.2810586,10.9010687 12.6757246,11.2628459 L18.6757246,16.7628459 C19.0828436,17.1360383 19.1103465,17.7686056 18.7371541,18.1757246 C18.3639617,18.5828436 17.7313944,18.6103465 17.3242754,18.2371541 L12.0300757,13.3841378 L6.70710678,18.7071068 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000003, 14.999999) scale(1, -1) translate(-12.000003, -14.999999)" />
        </g>
    </svg>
</span>-->
<!--end::Svg Icon-->
<!--</div>-->
<!--end::Label-->
<!--</div>-->
<!--end::Description-->
<!--</div>-->
<!--end::Item-->
<!--</div>-->
<!--end::Items-->
<!--</div>-->
<!--end::Body-->
<!--</div>-->
<!--end::List Widget 1-->
<!--</div>-->
<!--end::Col-->
<!--</div>-->
<!--end::Row-->
<!--</div>-->
<!--end::Container-->
<!--</div>-->
<!--end::Post-->
<!--</div>-->
<!--end::Content-->
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-xl-4">
            <!--begin::Nav Panel Widget 3-->
            <div class="card card-custom card-stretch gutter-b">
                <!--begin::Body-->
                <div class="card-body">
                    <!--begin::Wrapper-->
                    <div class="d-flex justify-content-between flex-column h-100">
                        <!--begin::Container-->
                        <div class="h-100">
                            <!--begin::Header-->
                            <div class="d-flex flex-column flex-center">
                                <!--begin::Image-->
                                <div class="bgi-no-repeat bgi-size-cover rounded min-h-180px w-100" style="background-image: url('../../assets/media/stock-600x400/img-70.jpg');"></div>
                                <!--end::Image-->
                                <!--begin::Title-->
                                <a class="card-title font-weight-bolder text-dark-75 text-hover-primary font-size-h2 m-0 pt-7 pb-1">@Html.DisplayFor(modelitem => item.AccountName)</a>
                                <!--end::Title-->
                                <!--begin::Text-->
                                @*<div class="font-weight-bold text-dark-50 font-size-sm pb-7">@User.Identity.GetFullName()</div>*@
                                <!--end::Text-->
                            </div>
                            <!--end::Header-->
                            <!--begin::Body-->
                            <div class="pt-1">
                                <!--begin::Item-->
                                <div class="d-flex align-items-center pb-9">
                                    <!--begin::Symbol-->
                                    <div class="symbol symbol-45 symbol-light mr-4">
                                        <span class="symbol-label">
                                            <span class="svg-icon svg-icon-2x svg-icon-dark-50">
                                                <!--begin::Svg Icon | path:assets/media/svg/icons/Media/Equalizer.svg-->
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24" />
                                                        <rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5" />
                                                        <rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5" />
                                                        <rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5" />
                                                        <rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5" />
                                                    </g>
                                                </svg>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </span>
                                    </div>
                                    <!--end::Symbol-->
                                    <!--begin::Text-->
                                    <div class="d-flex flex-column flex-grow-1">
                                        <a href="#" class="text-dark-75 text-hover-primary mb-1 font-size-lg font-weight-normal">Current Balance</a>
                                        @*<span class="text-muted font-weight-bold">Good Fellas</span>*@
                                    </div>
                                    <!--end::Text-->
                                    <!--begin::label-->
                                    @if (item.CurrentBalance >= item.WarningBalance)
                                    {
                                        <span class="font-weight-bolder label label-xl label-light-success label-inline px-3 py-5 min-w-45px">
                                            @Html.DisplayFor(modelitem => item.CurrentBalance)
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-bolder label label-xl label-light-danger label-inline px-3 py-5 min-w-45px">
                                            @Html.DisplayFor(modelitem => item.CurrentBalance)
                                        </span>
                                    }

                                    <!--end::label-->
                                </div>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <div class="d-flex align-items-center pb-9">
                                    <!--begin::Symbol-->
                                    <div class="symbol symbol-45 symbol-light mr-4">
                                        <span class="symbol-label">
                                            <span class="svg-icon svg-icon-2x svg-icon-dark-50">
                                                <!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Group.svg-->
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <polygon points="0 0 24 0 24 24 0 24" />
                                                        <path d="M18,14 C16.3431458,14 15,12.6568542 15,11 C15,9.34314575 16.3431458,8 18,8 C19.6568542,8 21,9.34314575 21,11 C21,12.6568542 19.6568542,14 18,14 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                        <path d="M17.6011961,15.0006174 C21.0077043,15.0378534 23.7891749,16.7601418 23.9984937,20.4 C24.0069246,20.5466056 23.9984937,21 23.4559499,21 L19.6,21 C19.6,18.7490654 18.8562935,16.6718327 17.6011961,15.0006174 Z M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
                                                    </g>
                                                </svg>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </span>
                                    </div>
                                    <!--end::Symbol-->
                                    <!--begin::Text-->
                                    <div class="d-flex flex-column flex-grow-1">
                                        <a href="#" class="text-dark-75 text-hover-primary mb-1 font-size-lg font-weight-normal">Warning Balance</a>
                                        @*<span class="text-muted font-weight-bold">Successful Fellas</span>*@
                                    </div>
                                    <!--end::Text-->
                                    <!--begin::label-->
                                    <span class="font-weight-bolder label label-xl label-light-danger label-inline px-3 py-5 min-w-45px">@Html.DisplayFor(modeliten => item.WarningBalance)</span>
                                    <!--end::label-->
                                </div>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <!--<div class="d-flex align-items-center pb-9">-->
                                    <!--begin::Symbol-->
                                    <!--<div class="symbol symbol-45 symbol-light mr-4">
                                        <span class="symbol-label">
                                            <span class="svg-icon svg-icon-2x svg-icon-dark-50">-->
                                                <!--begin::Svg Icon | path:assets/media/svg/icons/Home/Globe.svg-->
                                                <!--<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24" />
                                                        <path d="M13,18.9450712 L13,20 L14,20 C15.1045695,20 16,20.8954305 16,22 L8,22 C8,20.8954305 8.8954305,20 10,20 L11,20 L11,18.9448245 C9.02872877,18.7261967 7.20827378,17.866394 5.79372555,16.5182701 L4.73856106,17.6741866 C4.36621808,18.0820826 3.73370941,18.110904 3.32581341,17.7385611 C2.9179174,17.3662181 2.88909597,16.7337094 3.26143894,16.3258134 L5.04940685,14.367122 C5.46150313,13.9156769 6.17860937,13.9363085 6.56406875,14.4106998 C7.88623094,16.037907 9.86320756,17 12,17 C15.8659932,17 19,13.8659932 19,10 C19,7.73468744 17.9175842,5.65198725 16.1214335,4.34123851 C15.6753081,4.01567657 15.5775721,3.39010038 15.903134,2.94397499 C16.228696,2.49784959 16.8542722,2.4001136 17.3003976,2.72567554 C19.6071362,4.40902808 21,7.08906798 21,10 C21,14.6325537 17.4999505,18.4476269 13,18.9450712 Z" fill="#000000" fill-rule="nonzero" />
                                                        <circle fill="#000000" opacity="0.3" cx="12" cy="10" r="6" />
                                                    </g>
                                                </svg>-->
                                                <!--end::Svg Icon-->
                                            <!--</span>
                                        </span>
                                    </div>-->
                                    <!--end::Symbol-->
                                    <!--begin::Text-->
                                    <!--<div class="d-flex flex-column flex-grow-1">
                                        <a href="#" class="text-dark-75 text-hover-primary mb-1 font-size-lg font-weight-normal">Transactions</a>
                                        <span class="text-muted font-weight-bold">Successful Fellas</span>
                                    </div>-->
                                    <!--end::Text-->
                                    <!--begin::label-->
                                    <!--<span class="font-weight-bolder label label-xl label-light-success label-inline py-5 min-w-45px">Html.DisplayFor(modelitem => item.Transactions)</span>-->
                                    <!--end::label-->
                                <!--</div>-->
                                <!--end::Item-->
                                <!--begin::Item-->
                                <div class="d-flex align-items-center pb-9">
                                    <!--begin::Symbol-->
                                    <div class="symbol symbol-45 symbol-light mr-4">
                                        <span class="symbol-label">
                                            <span class="svg-icon svg-icon-2x svg-icon-dark-50">
                                                <!--begin::Svg Icon | path:assets/media/svg/icons/Layout/Layout-4-blocks.svg-->
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24" />
                                                        <rect fill="#000000" x="4" y="4" width="7" height="7" rx="1.5" />
                                                        <path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z" fill="#000000" opacity="0.3" />
                                                    </g>
                                                </svg>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </span>
                                    </div>
                                    <!--end::Symbol-->
                                    <!--begin::Text-->
                                    <div class="d-flex flex-column flex-grow-1">
                                        <a href="#" class="text-dark-75 text-hover-primary mb-1 font-size-lg font-weight-normal">Account Type</a>
                                        @*<span class="text-muted font-weight-bold">Achievements</span>*@
                                    </div>
                                    <!--end::Text-->
                                    <!--begin::label-->
                                    <span class="font-weight-bolder label label-xl label-light-info label-inline px-3 py-5 min-w-45px">@Html.DisplayFor(modelitem => item.AccountType)</span>
                                    <!--end::label-->
                                </div>
                                <!--end::Item-->
                            </div>
                            <!--end::Body-->
                        </div>
                        <!--eng::Container-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Nav Panel Widget 3-->
        </div>
    }

</div>
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-around flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">Index of Bank Accounts</h5>

                    <!--end::Page Title-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Card-->
            <div class="card card-custom">
                <div class="card-body">
                    <!--begin: Datatable-->
                    <table class="table table-separate table-head-custom table-foot-custom table-checkable" id="kt_datatable">
                        <thead>
                            <tr>
                                <th>Account Name</th>
                                <th>Type</th>
                                <th>Starting Balance</th>
                                <th>Warning Balance</th>
                                <th>Current Balance</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AccountName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AccountType)
                                    </td>
                                    <td>
                                        $@Html.DisplayFor(modelItem => item.StartingBalance)
                                    </td>
                                    <td>
                                        $@Html.DisplayFor(modelItem => item.WarningBalance)
                                    </td>
                                    @if ((item.CurrentBalance) > (item.WarningBalance))
                                    {
                                        <td style="color:forestgreen">
                                            $@Html.DisplayFor(modelItem => item.CurrentBalance)
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="color:red">
                                            $@Html.DisplayFor(modelItem => item.CurrentBalance)
                                        </td>
                                    }
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Account Name</th>
                                <th>Type</th>
                                <th>Starting Balance</th>
                                <th>Warning Balance</th>
                                <th>Current Balance</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                    <!--end: Datatable-->
                    <div class="container-fluid d-flex align-items-center justify-content-around flex-wrap flex-sm-nowrap">
                        <a href="@Url.Action("Create", "BankAccounts")" class="btn btn-success font-weight-bolder">
                            <i class="la la-plus"></i>Add New Bank Account
                        </a>
                    </div>
                </div>
            </div>
            <!--end::Card-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<!--end::Content-->

@section scripts {
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                                i : 0;
                    };

                    // Total over all pages
                    total = api
                        .column(4)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    pageTotal = api
                        .column(4, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(4).footer()).html(
                        '$' + pageTotal + ' ( $' + total + ' total)'
                    );
                }
            });
        });

    </script>
}